body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgba(189, 214, 255, 0.801); */
}


main {
    margin: 1em 2%;
}

ul {
    list-style: none;
    padding: 0;
}

ul > li {
    border-bottom: 1px dotted gray;
    /* padding: 1em 0; */
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none; 
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}



.header-info {
  align-items: baseline;
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  padding-bottom: 10px 10px;
  margin-top: 50px;
  background-color: #333;
  border-bottom: 0.5px solid black;
  border-color: white;
}

h1 {
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease;
    color: #666;
    text-decoration: none;
    margin: 1em 2%;
    background-color: #333;
    border-bottom: 0.5px solid black;
    border-color: white;

  
}
h1 {
    cursor: pointer;
    font-size: 30px;
    text-decoration: underline;
     margin: 1em 2%;
}
.header {
    background: #fff;
    color: #222;
    position: relative;
    z-index: 3;
}

  * {
    margin:0px;
    padding:0px;
}

div {
    display: block;
}

input {
  font-family: AktivGrotesk,Helvetica,Arial,sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  margin-right: 30px;
  font-size: 17px;
  padding:10px 30px;
  width: 60%;
  border-radius: 40px 2em 40px 2em ;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

}

* {
  margin:0px;
  padding:0px;
}

div {
  display: block;
}

.info h2, p{
  text-align: center;
  padding:10px 30px;
  margin-top: 20px;
}
 .header-info img {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
 }

 ul {
  list-style: none;
  padding: 0;
}

/* ul > li {
  border-bottom: 1px dotted gray;
 
} */

ul > li > a {
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr auto;
  align-items: center;
}

ul > li > a > p:last-child {
  font-weight: bold;
  font-size: xx-large;
  color: rgb(53, 172, 241);
  text-shadow: 2px 2px 2px rgb(39, 37, 216);
}

/* Variables */
:root {
  --main-color: red;
  --margin-base: 2em;
  --border-type: solid;
}

ul > li {
  border-bottom: 1px var(--border-type) var(--main-color);
  /* border-bottom: 1px dotted var(--main-color); */
  /* padding: 1em 0; */
}





