body{
            font-family: 'Times New Roman', Times, serif;
            line-height: 200%
        }
        h1,
        h2,
        h3,
        h4 {
            border-top: 1px solid gray;
            color: blue;
            font-size: xx-large;
        }
        .Series {
            font-family: Arial, Helvetica, sans-serif;
            background-color: lightcyan;
            color: black;
            line-height: 300%
            
        }
        table {
            border-bottom: 1px solid blue;
            border-collapse: collapse;
            width: 70%;
	        height: 300px;
            margin: auto;
        }
        
        table tbody td {
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            border-left: 1px solid gray;
            margin: 10 px 5px;
            vertical-align: middle;
            text-align: left;
        }

        table thead {
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
        }

        table thead th {
            border-right: 1px solid black;
            border-left: 1px solid black;
            background-color: gray;
            padding: 10px 1em;
            color: black;
            font-size: large;
        }

        h1 {
            font-size: xx-large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: red;
            text-align: center;
        }

table > caption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: xx-large;
    color: red;
}

li {
    font-size: large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
          
}

figcaption {
    font-size: large;
    color: red;
    text-decoration-line: underline;
    text-align: center;
}

img {
    width: 100px; height: 100px;
}
